<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rainier Backend</title>
  </head>
  <body>
    <h1>Cleaning Service Order Management System</h1>
    <!-- Needs to be finish -->
    <div>
      <h2>Summary</h2>
      <p>Total order: <%= summary.totalOrder%></p>
      <p>Total helper: <%=summary.totalHelper%></p>
      <p>Total duration: <%=summary.totalDuration%></p>
    </div>
    <div>
      <h3>Order details</h3>
      <table>
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Item</th>
            <th>Duration</th>
            <th>Helper</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% summary.detailedOrder.forEach(order => { %>
          <tr>
            <td><%= order.customerName %></td>
            <td><%= order.title %></td>
            <td><%= order.duration %></td>
            <td><%= order.helper%></td>
            <td><%= order.category %></td>
            <td><%= order.price %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
